html, body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.counter{
  padding-left: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.pl-2 {
  padding: 20px;
  border: 1px solid #e3e3e3;
}
.count {
  font-size: 20px;
  margin-bottom: 16px;
}
.increment-button {
  padding: 10px 20px;
  background-color: #f5f4f4; 
  color: #000; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
h1 {
  font-size: 40px;
  font-weight: 600;
}

label{
  padding: 15px;
}
button{
  margin-left: 10px;
  padding: 5px;
}
input {
width: 70px;
margin: 10 auto;
padding: 7px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}